@keyframes slideIn {
   from {
     opacity: 0;
     transform: translateY(-20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 .container {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   /* height: 100vh; */
   font-size: 16px;
  
   /* font-weight: lighter; */
   flex-direction: column;
 }
 
 .form-container {
   width: 100%;
   max-width: 400px;
   padding: 20px;
   /* background-color: #f9f9f9; */
   border-radius: 10px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
   animation: slideIn 0.5s ease forwards;
 }
 
 .form-item {
   margin-bottom: 20px;
 }
 
 .form-label {
   display: block;
   margin-bottom: 5px;
   /* font-weight: bold; */
   /* animation: fadeIn 0.5s ease forwards; */
 }
 .status-admin{
  margin-top: 5%;
  font-size: 18px;
 }
 
 .form-input {
   width: 100%;
   padding: 10px;
   /* border: 1px solid #ccc; */
   border-radius: 5px;
   transition: border-color 0.3s ease;
   /* animation: fadeIn 0.5s ease forwards; */
 }
 
 .form-input:focus {
   outline: none;
   border-color: #007bff;
 }
 
 .btn-submit {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   /* animation: fadeIn 0.5s ease forwards; */
 }
 
 .btn-submit:hover {
   background-color: #0056b3;
   transform: translateY(-2px);
 }
 .contact{
   /* position: relative; */
   margin-top: 50px;
   top:70px;
   font-size: 36px;
  
   text-align: center;
   margin-bottom: 100px;
   
   background: -webkit-linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
   -webkit-background-clip: text; 
   background-clip: text; 
   color: transparent; 
 }

 @media (max-width: 500px) {
   .form-container {
     width: 90%;
   }
 }

 /* Contact.css */
@keyframes slideIn {
   from {
     opacity: 0;
     transform: translateY(-20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 .alert {
   animation: slideIn 0.3s ease forwards;
 }
 
 .alert {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 0.3s ease, transform 0.3s ease;
 }
 
.link-account{
  color: rgb(45, 133, 210);
  text-decoration: underline;
}